fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
httpx
requests
resend
email-validator
google-auth
google-auth-oauthlib
google-api-python-client
langchain
langchain-community
langchain-groq
